@font-face {
    font-family: f1;
    src: url(../Front-end-tools/Font/LemonMilk.otf) format('opentype');
}
@font-face {
    font-family: f2;
    src: url(../Front-end-tools/Font/Century-Gothic.ttf) format('truetype');
}
body{
    background-color: #f7f3ec !important;
}
section *{
    z-index: 2;
}
footer{
    z-index: 2;
}
h1,h2,h4,a{
    font-family: f1 !important;
}
p,i{
    font-family: f2 !important;
}
/* navbar  navbar  navbar  navbar  navbar */
nav .container{
    font-family: myFirstFont;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    flex-direction: row;
    flex-wrap: nowrap;
    }
    .logo{
    width: 120px;
    height: fit-content;
    }
    .logo img{
    width: 120px !important;
    width: 100% !important;
    height: auto;
    border-radius: 5px;
    }
    nav a{
    text-decoration: none;
    margin-inline: 11px;
    color: #F57120 !important;
    transition: all ease-in-out 200ms;
    border: none !important;
    }
    nav a:hover{
        color: #f57220ad !important;
        border: none !important;
    }
    nav .btn:hover{
    color: #ffffffcc !important;
    }
    nav .btn{
    width: 120px;
    background-color: #F57120;
    border-radius: 5px;
    transition: all ease-in-out 200ms;
    color: white !important;
    }
.pc-nav{
display: none;
}
.mobile-nav{
    display: none;
}
.pc-nav{
    display: none;
    justify-content: space-between;
}
.mobile-nav{
    display: none;
    position: absolute;
    z-index: 5;
    height: 100vh;
    padding-left: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 85%;
    right: 0;
    top: 0%;

}
.mobile-nav a{
    color: #92C83E !important;
    margin-block: 20px;
    text-decoration: none !important;
    font-size: 1.5rem !important;    
    font-family: myFirstFont;
    transition: all 200ms ease-in-out;
}
.mobile-nav a:hover{
    color: #F57120 !important;
}
.n{
    display: flex;
}
.b{
    display: none !important;
}
.pc-nav i{
    position: absolute;
    right: 15px;
    z-index: 2;
    font-size: 1.7rem;
    color: #92C83E;
}

.pc-nav i{
    position: absolute;
    right: 15px;
    z-index: 6 !important;
    font-size: 1.7rem;
    color: #92C83E;
}
body{
    background-color: #f7f3ec !important;
}
section{
    height: 100vh !important;  
}
.sct3{
    text-align: center;
    height: auto !important;
}
.sct4{
    text-align: center;
}
.cls{
    width: 100%;
    text-align: center;
}

.underline-hover-effect{
    text-align: center !important;
    width: fit-content;
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    font-size: 4rem;
}
.underline-hover-effect::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: rgb(146, 200, 62);
    transition: width 0.75s ease-out;
}
.underline-hover-effectA{
    position: relative;
}
.underline-hover-effectA::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    width: 100%;
    background-color: rgb(146, 200, 62);
    transition: width 0.75s ease-out;
}
.underline-A{
    text-align: center !important;
    width: fit-content;
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    font-size: 4rem;
}
.underline-A::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    width: 0;
    background-color: rgb(146, 200, 62);
    animation: ul 0.8s;
}
@keyframes ul{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.underline-Al::before{
    width: 100%;
}
.b-hide{
    display: none;
}
.dfbojmil{
    height: 100% !important;
    display: flex;
    align-items: center;

}
#para{
    font-size:1.25rem;
}
#img1{
    width: 90% !important;
    height: auto;
}

#kilometre{
    height: 100% !important;
    display: flex;
    align-items: center;
}
li{
    font-size: 30px;
 
}
ul{
    padding-top: 8vh;
    font-size: 1.25rem;
}
    
.photo{
    width: 10rem;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}
.photo img{
    width: 30vh;
    height: 50vh;
    position: absolute;
    right: 0px;
    top: 95%;
}

.img img{
    width: 100% !important;
    height: auto;
}
.earth{
    width:10rem ;
    height:fit-content;
    display: flex;
    justify-content: flex-end;
}
img .earth{
    width: 90%;
    height: auto;
}
.maps{
    width: 100%;
    height:50vh !important;
}
iframe{
    width: 100%;
    height: 100% !important;
}
*{
    padding:0;
    margin: 0px;
}
.gallery{
    padding: 10px;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    position: static;
    height: fit-content;
}
.v-stretch{
    grid-row: span 2;
}
.h-stretch{
    grid-column: span 2;
}
.v-stretch{
    grid-row: span 2;
}
.gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#imgg{
    display: none;
    width: 90%;
    height: auto;
}
.hover1{
    overflow: hidden;
}
.hover1 img{
    transition: transform ease 300ms !important;
    overflow: hidden;
    cursor: pointer;
}
.hover1:hover img{
    transform: scale(1.2);
}

/* blob blob blob blob blob blob blob blob */
.blob{
    display: none;
    position: absolute !important;
    z-index: 0 !important;
    width: 250px !important;
    height: auto;
    opacity: .2;
    transition: all 400ms ease-in-out;
}
.bb{
    display: flex;
}
.blob:hover{
    transform: scale(0.9);
}
.b-l-t{
    top: 90vh !important;
    left: 0px !important;
}
.b-r{
    width: 400px !important;
    top: 190vh !important;
    right: 0px !important;
}
.b-l-2{
    width: 400px !important;
    top: 270vh !important;
    left: 0px !important;
}
.b-l-3{
    width: 480px !important;
    top: 300vh !important;
    left: 0px !important;
}

.b-r-2{
    width: 250px !important;
    top: 360vh !important;
    right: 10px !important;
}

.b-r-4{
    width: 200px !important;
    top: 80vh !important;
    right: 0px !important;
}
.b-r-3{
    width: 600px !important;
    bottom: 560vh !important;
    right: 100px !important;
}
.b-hide{
    border-radius: 0px 5px 5px 0px;
    position: fixed;
    width: 90px;
    height: 80px;
    top: 20vh !important;
    left: -85px !important;
    transition: all 200ms !important;
    z-index: 3 !important;
    background-color: rgba(0, 0, 0, 0.411) !important;
    color: white !important;
    cursor: pointer;
    font-family: f1 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-hide:hover{
    left: 0px !important;
}
@media (max-width:767px) {
    .gallery{
        display: flex !important;
        flex-wrap: wrap;
        position: static;
        height: fit-content;
    }
    section{
        height: auto !important;
    }
    h2{
        text-align: center !important;
    }
    #img1{
        display: none;
    }
    #imgg{
        display: block;
    }
    .underline-hover-effect{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    } 
    .underline-hover-effect:hover::before{
        width:0 !important;
    }
    
    .cls1{
        text-align: center !important;
    }
}
/* footer */
footer{
    background-color: #000000;
    bottom: 0%;
  }
  footer a{
    color: white !important;
    text-decoration: none !important;
    transition: all ease 200ms;
  }
  footer h4{
    color: #F57120 !important;
  }
  footer p{
    color: white !important;
  }
  footer hr{
    background-color: white !important;
  }
  footer img{
    width: 30px;
    height: auto;
  }
  footer span{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer a:hover{
    color: #F57120 !important;
  }
  @media(max-width:768px){
    h2{
        font-size: 2.4rem !important;
    }
    footer{
      margin-top: 100px !important;
    }
    nav{
        display: none !important;
    }
    .pc-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        position: relative;
    }
}
/* breakpoints */
@media(max-width:994px){
    nav{
        display: none !important;
    }
    .pc-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        position: relative;
    }
    .mobile-v{
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
    }
}
@media(max-width:576px){
    footer p,a{
        font-size: 14px !important;
      }
      h4{
        font-size:15px !important;
      }
      .b-l-t{
      top: 70vh !important;
      }
      .b-r{
          width: 200px !important;
      }
      .b-l-2{
          display: none;
      }
      .b-r-2{
          width: 420px !important;
      }
      .b-l-3{
          width: 180px !important;
      }
    h2{
      font-size: 28px !important;
    }
}

